assets/generated/
assets/multi_robot_gen_gripper
assets/gen_gripper

Reacher/data/
Reacher/stats/

Grasping/data
Grasping/data_backed_up
Grasping/data_with_her
Grasping/data_reached

HCP_Grasping/data
Multi_robot_HCP_Grasping/data

