<robot name="plane">
    <link name="plane">
        <visual>
        <geometry>
            <box size="1.5 1.5 0.01"/>
        </geometry>
        <material name="black">
            <color rgba="0 0 0 1"/>
        </material>
        </visual>
        <collision>
        <geometry>
            <box size="1.5 1.5 0.01"/>
        </geometry>
        </collision>
        <inertial>
        <mass value="0"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 -0.1"/>
        <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
        </inertial>
    </link>
</robot>